@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

html {
  font-size: 16px;
  line-height: 1.6;
}

body {
  font-size: 1rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

p,
li,
h1,
h2,
h3,
h4 {
  /* helps with overflow of long words */
  overflow-wrap: break-word;

  /* not supportd for all languages */
  hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.15;
}

@layer base {
  /* Default: Major Second scale (below md) */
  h1 {
    @apply text-[2.027rem]; /* 2.027rem */
  }
  h2 {
    @apply text-[1.802rem]; /* 1.802rem */
  }
  h3 {
    @apply text-[1.602rem]; /* 1.602rem */
  }
  h4 {
    @apply text-[1.424rem]; /* 1.424rem */
  }
  h5 {
    @apply text-[1.266rem]; /* 1.266rem */
  }
  h6 {
    @apply text-[1.125rem]; /* 1.125rem */
  }
  p {
    @apply text-[1rem]; /* 1rem */
  }
  small {
    @apply text-[0.889rem]; /* 0.889rem */
  }

  /* Override: Minor Third scale (md and larger) */
  @screen md {
    h1 {
      @apply text-[2.986rem]; /* 2.986rem */
    }
    h2 {
      @apply text-[2.488rem]; /* 2.488rem */
    }
    h3 {
      @apply text-[2.074rem]; /* 2.074rem */
    }
    h4 {
      @apply text-[1.728rem]; /* 1.728rem */
    }
    h5 {
      @apply text-[1.44rem]; /* 1.44rem */
    }
    h6 {
      font-size: 1.125rem; /* Directly define for debugging */
    }
    p {
      @apply text-[1rem]; /* 1rem */
    }
    small {
      @apply text-[0.833rem]; /* 0.833rem */
    }
  }
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
